.hits {
    width: 18%;
    position: absolute;
    display: flex;
    margin-left: 80%;
    flex-direction: column;
    top:5%;

    
}
h3 {
    margin-top:0.2%;
    margin-bottom: 0.2%;
    margin-left: 5%;
   }
   h5 {
       margin-top:0.2%;
       margin-bottom: 0.2%;
       margin-left: 40%;
   }
