
 #cards {
    top:50px;
    height: 140px;
    width: 30%;
    border-style:solid ;
    border-width: 1px;
    background-color: antiquewhite;
    }     
 .Lhand .Rhand {
    display: flex;
    justify-content: center;
    position: absolute;
    border-style: solid;
    background-color: rgb(255, 255, 255);
    height:120px;
    width: 5%;
    z-index: 1;
   }