.flex {
  display: flex;
  }
  h1, h6 {
   color: white;
  }
 header{
  background-color:#9e34db;
  position: fixed;
  width: 100%;
  top: 0%;
  left: 0%;
 }
 footer {  
  display: flex;
  align-items:center ;
  position: fixed;
  justify-content: start;
  padding: 1%;
  bottom: 0%;
  height: 0.5%;
  background-color:#9e34db;
  left: 0%;
  width: 100%;
 }
 .center {
  justify-content: center;
 }
 body {
  background-color:#ffffff;
 }
 .table {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: #1f0a1d;
  border-width: 20px;
  top: 20%;
  left: 32%;
  position:absolute;
  background-color: #78807c;
  border-radius: 50%;
  width: 35%;
  height: 45%;
  z-index: 0;
 }
 .marginL {
  margin-left: 1%;
 }
 .colum {
  flex-direction: column;
 }

 .Lhand .Rhand {
  display: flex;
  justify-content: center;
  position: absolute;
  border-style: solid;
  background-color: rgb(255, 255, 255);
  height:120px;
  width: 5%;
  z-index: 1;
 }
 .InfoHero {
  justify-content: end;
  bottom: 0%;
 }
 .hits {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
 }
 .room{
  top: 10%;
  bottom: 10%;
  position: absolute;
  height: 90%;
  width: 95%;
 }
 .flex-end {
  justify-content: end;
 }
 #divBotoes {
  align-items: center;
  justify-content: space-between;
justify-content: center;
  display: flex;
  bottom:10%;
  height: 10%;
  width: 100%;
  left: 0%;
  position: absolute;
  
 }
 #TextFooter {
width: 100%;
 }

 .btAction {
  cursor: pointer;
  border-top-left-radius:30% ;
  border-bottom-right-radius: 30%;
  width: 120px;
  padding: 15%;
  box-shadow: 0 9px #999;

 }
 .btn:hover {
  box-shadow: 0 0 10px 0 #9e34db inset, 0 0 10px 4px #9e34db;
}
.btn:active {
  border-color: #9e34db;
  color: #fff;
  box-shadow: 0 0 40px 40px #9e34db inset, 0 0 0 0 #9e34db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
 }
 #cards {
 top:50px;
 height: 140px;
 width: 30%;
 border-style:solid ;
 border-width: 1px;
 background-color: antiquewhite;
 }
 #icon {
  height: 100%;
  width:5%;
 }